<br/>
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form (ngSubmit)="onSubmit()"  #form="ngForm">
        <div class="form-group text-center">
          <label><b>Login</b></label>
          <input class="form-control"
                 type="text"
                 ngModel
                 name="login"
                 required
                 email
                 pattern=".{6,}"
                 #login="ngModel"
          >
          <br/>
          <div
            id="passwords"
            ngModelGroup="passwords"
            #passwords="ngModelGroup">

            <div class="form-group text-center">
              <label for="password"><b>Password</b></label>
              <input class="form-control"
                     type="password"
                     id="password"
                     ngModel
                     name="password"
                     required
                     #password="ngModel"
              >
              <!--                     pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"-->

            </div>
            <span class="help-block alert-danger" *ngIf="!password.valid && password.touched">Password is too week and easy to hack</span>

            <div class="form-group text-center">
              <label for="confirm-password"><b>Confirm password</b></label>
              <input class="form-control"
                     type="password"
                     id="confirm-password"
                     ngModel
                     name="confirmed"
                     required
                     #conf="ngModel">
            </div>
            <span class="help-block alert-danger" *ngIf="password.value != conf.value && conf.touched">Password are not equals</span>
            <span class="help-block center-block">Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.</span>
          </div>
        </div>
     <div class="center-element">
       <button class="btn btn-primary center-block" type="submit"
               [disabled]="(!form.valid)
      || (password.value != conf.value)"
       >
         Crate new account
       </button>

     </div>
      </form>
    </div>
  </div>
</div>
