.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.chart {*/
/*  position: relative;*/
/*  width: 500px;*/
/*  height: 500px*/
/*}*/
.chart2 {
  /*position: relative;*/
  /*right: 300px;*/
}

@media only screen and (max-width: 991px) {


}
@media only screen and (min-width: 991px) {
  .chart {
    position: relative;
    width: 1200px;
    height: 1200px
  }

}
