.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.chart {*/
/*  position: relative;*/
/*  width: 1px;*/
/*  height: 1px*/
/*  !important;*/
/*}*/


@media only screen and (max-width: 991px) {


}
@media only screen and (min-width: 991px) {
  /*.chart {*/
  /*  position: relative;*/
  /*  width: 1200px;*/
  /*  height: 1200px*/
  /*}*/

}
