.plot {
  width: 350px; display: block; height: 450px;
}


@media only screen and (min-width: 991px) {
  .plot {
    width: 1000px; display: block; height: 800px;
  }

}
.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}
