<span class="mat-title">Drop a file</span>

<div class="container center-element">
  <div class="dropzone " [ngxFileDropzone]="readMode" (fileDrop)="addFile($event)">
    <div>
      <p class="upload-label">Drag and Drop File or click</p>
      <div class="center-element">
        <button
          mat-raised-button color="primary"
          #filePicker="ngxFilePicker"
          [ngxFilePicker]="readMode"
          multiple accept="image/*"
          (filePick)="onFilePicked($event)"
          class="upload-btn"
        >Browse</button>

      </div>
    </div>
  </div>
</div>
<br/>
<div class="container center-element">
  <button class="btn btn-primary" (click)="sendFile()">Submit</button>

</div>


