<div class="container">
  <div class="center-element">
    <h3>Publication without Citation in Bibliography</h3>
  </div>
  <app-publications [publications]="getBibliography().publicationReturn.publications"></app-publications>
</div>

<div class="container">
  <div class="center-element">
    <h3>Publication in Bibliography but not used in Diploma Work</h3>
  </div>
  <app-publications [publications]="getBibliography().bibliographyReturn.publicationsNotUsed"></app-publications>
</div>
<div class="container">
  <div class="center-element">
    <h3>Duplicates Publication in Bibliography</h3>
  </div>
  <app-publications [publications]="getBibliography().bibliographyReturn.duplicates"></app-publications>
</div>
