<!--<form-upload></form-upload>-->
<main class="mat-typography">
  <mat-tab-group dynamicHeight="true" mat-align-tabs="center">
    <mat-tab label="Check Bigliography">
      <div class="tab-container">
       <div class="center-element">
       </div>
        <app-file-dropzone-demo
          (dataOutput)="handleFile($event)"
        ></app-file-dropzone-demo>
      </div>
    </mat-tab>

    <mat-tab label="Convert To Pdf">
      <div class="tab-container">
        Data data2
        <app-file-dropzone-demo
          (dataOutput)="handleFile2($event)"
        ></app-file-dropzone-demo>
      </div>
    </mat-tab>

    <mat-tab label="Order Bibliography">
      <div class="tab-container">
        Data data2
        <app-file-dropzone-demo
          (dataOutput)="handleFile3($event)"
        ></app-file-dropzone-demo>
      </div>
    </mat-tab>

    <mat-tab label="Information">
      <div class="tab-container">
        <div class="center-element">
          <p>Information about the author</p>
          <app-admin-information></app-admin-information>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</main>
