<!--<form-upload></form-upload>-->
<main class="mat-typography">
  <mat-tab-group dynamicHeight="true" mat-align-tabs="center">
    <mat-tab label="Information" *ngIf="adminPanel">
      <div class="tab-container">
        <div class="center-element">
          <app-admin-info2></app-admin-info2>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Information" *ngIf="adminPanel">
      <div class="tab-container">
        <div class="center-element">
          <app-admin-information></app-admin-information>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="Check Bigliography">
      <div class="tab-container">
       <div class="center-element">
       </div>
        <app-file-dropzone-demo
          (dataOutput)="handleFile($event)"
        ></app-file-dropzone-demo>
      </div>
    </mat-tab>

    <mat-tab label="Convert To Pdf">
      <div class="tab-container">
        <app-file-dropzone-demo
          (dataOutput)="handleFile2($event)"
        ></app-file-dropzone-demo>
      </div>
    </mat-tab>

    <mat-tab label="Order Bibliography">
      <div class="tab-container">
        <app-file-dropzone-demo
          (dataOutput)="handleFile3($event)"
        ></app-file-dropzone-demo>
      </div>
    </mat-tab>


  </mat-tab-group>

</main>
