<!--<div >-->
<!--  <div class="btn-group " dropdown placement="bottom right">-->
<!--    <button id="button-alignment" dropdownToggle type="button"-->
<!--            class="btn btn-primary dropdown-toggle authentication " aria-controls="dropdown-alignment" >-->
<!--      Get in <span class="caret"></span>-->
<!--    </button>-->
<!--    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"-->
<!--        role="menu" aria-labelledby="button-alignment">-->
<!--      <li role="menuitem"><a class="dropdown-item text-center"  >Log in</a></li>-->
<!--      <li class="divider dropdown-divider"></li>-->
<!--      <li role="menuitem"><a class="dropdown-item text-center"  >Sign up</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<div class="" *ngIf="isAuthenticated==true">
  <div class="center-element"><h5 *ngIf="isAuthenticated" class="welcome"> {{loginUser}}</h5></div>
  <button class="btn btn-primary logout" (click)="onLogOut()">Log out</button>
</div>

<div class="dropdown" *ngIf="isAuthenticated==false">
  <button class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
  >
    Get in
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" (click)="openModal(template)" >Log in</a>
    <a class="dropdown-item" (click)="onRedirect('/signup')">Sign up</a>
  </div>
</div>

<swal #error title="Error" text="Logging attempt failed. Please check your login and password" type="error"></swal>

<ng-template #template >



        <div class="modal-body">
          <div class=" ">
            <div class="center-element">
              <h5 class="modal-title">Login into Bibliography</h5>
            </div>
            <hr>
          </div>
          <form (ngSubmit)="onSubmit(form)" #form="ngForm" id="loginForm">
            <div class="form-group">
              <div class="text-center">
                <label>Login</label>
              </div>
              <input class="form-control"
                     type="text"
                     ngModel
                     name="login"
                     required
                     email
                     pattern=".{6,}"
                     #login="ngModel"
              >

              <!--            <div class="text-center">-->
              <!--              <span class="help-block" *ngIf="!login.valid && login.touched">Please fill login </span>-->
              <!--            </div>-->
              <br/>
              <div class="text-center">
                <label>Password</label>
              </div>
              <input class="form-control"
                     type="password"
                     ngModel
                     name="password"
                     required
                     pattern=".{1,}"
                     #password="ngModel"
              >
              <!--            <div class="text-center">-->
              <!--              <span class="help-block" *ngIf="password.invalid && password.touched">Please fill password</span>-->
              <!--            </div>-->
            </div>
            <p class="text-center message" *ngIf="message.length>0"><span class="alert-danger ">{{message}}</span></p>
            <div class="center-element">
              <button class="btn btn-primary center-block login-btn" type="submit">LOGIN</button>
            </div>
          </form>
        </div>

</ng-template>

