<!--<div >-->
<!--  <div class="btn-group " dropdown placement="bottom right">-->
<!--    <button id="button-alignment" dropdownToggle type="button"-->
<!--            class="btn btn-primary dropdown-toggle authentication " aria-controls="dropdown-alignment" >-->
<!--      Get in <span class="caret"></span>-->
<!--    </button>-->
<!--    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"-->
<!--        role="menu" aria-labelledby="button-alignment">-->
<!--      <li role="menuitem"><a class="dropdown-item text-center"  >Log in</a></li>-->
<!--      <li class="divider dropdown-divider"></li>-->
<!--      <li role="menuitem"><a class="dropdown-item text-center"  >Sign up</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
  >
    Get in
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter" >Log in</a>
    <a class="dropdown-item" (click)="onRedirect('/signup')">Sign up</a>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class=" ">
          <div class="center-element">
            <h5 class="modal-title">Login into Bibliography</h5>
          </div>
        <hr>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #form="ngForm" id="loginForm">
          <div class="form-group">
            <div class="text-center">
              <label>Login</label>
            </div>
            <input class="form-control"
                   type="text"
                   ngModel
                   name="login"
                   required
                   email
                   pattern=".{6,}"
                   #login="ngModel"
                   >

<!--            <div class="text-center">-->
<!--              <span class="help-block" *ngIf="!login.valid && login.touched">Please fill login </span>-->
<!--            </div>-->
            <br/>
            <div class="text-center">
             <label>Password</label>
           </div>
            <input class="form-control"
                   type="text"
                   ngModel
                   name="password"
                   required
                   pattern=".{1,}"
                   #password="ngModel"
            >
<!--            <div class="text-center">-->
<!--              <span class="help-block" *ngIf="password.invalid && password.touched">Please fill password</span>-->
<!--            </div>-->
          </div>
          <div class="center-element">
            <button class="btn btn-primary center-block login-btn" type="submit">LOGIN</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
