@media only screen and (min-width: 991px){
  /*#dropdownMenuButton {*/
  /*  width: 120px;*/
  /*}*/
}


.help-block{
  color: red;
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn {
  width: 120px;
}

.modal-title {
  font-size: 25px;
  color: black;
  margin: 15px 0 0 0 ;
  /*margin: 0 auto;*/
}

label {
  color: black;
  font-size: 18px;
}


.message {
  font-size: 15px;
}



h5.welcome {
  display: none;
  /*font-size: 18px;*/
}

.logout {
  width: 100px;
  position: relative;
  /*left: 10px;*/
  margin-left: 8px;
  /*margin-right: 10px;*/

}
@media only screen and (min-width: 667px) and (max-width: 991px){
  .logout {
    /*width: 100px;*/
    /*position: relative;*/
    /*left: 100px;*/
    margin-left: 90px;
  }
}
@media only screen and (min-width: 991px) {
  .logout {
    width: 160px;
  }

}



.modal.fade {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-dialog {
  margin: 0;
}


